<h1>Update Owner</h1>
 
<form action="/owners/<%=@owner.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch"> 
  <p><label>Owner Name:</label></p>
  <p><input type="text" name="owner[name]" id="owner_name" value="<%=@owner.name%>"></p> 

  <p><label>Choose an existing pet:</label></p>
  <p><%@pets.each do |pet|%>
      <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id%>" value="<%=pet.id%>" <%='checked' if @owner.pets.include?(pet) %>><%=pet.name%></input>
    <%end%></p>

  <h4>And/Or Create a New Pet</h4>
  <p><label>Pet Name:</label></p>
  <p><input type="text" name="pet[name]" id="pet_name"></input></p>

  <p><input type="submit" value="Update Owner"></p>
</form>